/*colors */

$white:#fff;
$black:#000;
$yellow:#FFAB21;
$drkBlue:#0C032C;
$pink:#AD0391;
$violet:#570067;
$light-violet:#B480EE;
$secondaryViolet:#17052C;
$secndryPink:#B333DF;
$scondryYellow:#DFBD33;
$lightBlue:#335BDF;
$thrdPink:#FF53F9;
$thrdViolet:#C08BFC;
$fothrViolet:#D2B0F9;
$thirdYellow:#C7A72F;
$fourthViolet:#794CB4;
$lowLighViolet:#6D71D1;
$txtColors:#5c4b74;
$lghtViloet:#b6a5cf;
$drkText:#6f6480;
.drkTxt{
    color: $drkText;
}
.txtcolors{
    color: $txtColors;
}
.lghtv{
    color: $lghtViloet;
}

.lightviolet{
    color:$thrdViolet ;
}

.fothrViolet{
    color: $fothrViolet;
}
.yellow{
    color: $yellow;
}
.thirdYellow{
    color:$thirdYellow
}
.thrdViolet{
    color: $thrdViolet;
}
.lightBlue{
    color: $lightBlue;
}

















.white{
    color: $white;
}
.drkBlue{
    color: $drkBlue;
}










