.footer-adrop{
    background-color: $black;
    
    &__container{
        @include max(850px){
            flex-direction: column;
            >*:not(:last-child){
                margin-bottom: 10px;
            }
            
            p,span,a{
                color: $lowLighViolet;
            }
        &--privacyLinks{
            display: flex;
            flex-direction: column;
            >a{
                &:not(:last-child){
                    margin-bottom: 10px;
                }
            }
        }
            
        }
        &--socialLinks{
            a{
                &:not(:last-child){
                    margin-right: 25px;
                }
                svg{
                    width: 20px;
                    path{
                        @include max(768px){
                            fill: $lowLighViolet;
                        }
                

                    }
                }
            }
        }
    }

}