.theToken{
    &__text{
        max-width: 660px;
        @include max(1300px){
            font-size: 24px;
        }
        @include max(993px){
            font-size: 22px;
            max-width: 75%;
            text-align: center;
            padding-bottom: 25px;
            margin: auto;
            line-height: 1.25;
        }
        @include max(768px){
            font-size: 20px;
            max-width: 85%;
          
         
        }
         @include max(600px){
            font-size: 18px;
            max-width: 90%;
          
         
        }
           @include max(450px){
            font-size: 17px;
            max-width: 95%;
            letter-spacing: .5px;
          
         
        }
        span{
            display: block;
        }
    }
    &__list{
      @include max(500px){
        margin-top: 15px;
      }
      &--mainTxt{
        max-width: 537px;
        @include max(992px){
            font-size: 18px;
            max-width: 80%;
            margin-bottom: 50px !important;
        }
        @include max(500px){
          margin-bottom: 10px;
          max-width: 90%;
        }
        .span{
            position: relative;
            top: -6px;
        }
      }
        .icon{
            display: block;
            min-width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid $scondryYellow;
            position: relative;
            @include max(992px){
                min-width: 30px;
                height: 30px;
            }
            svg{
                @include cntrElmnt();
                width: 16px;
                height: 16px;
            }
        }
    }
    &__traffic{
      /*  flex-wrap: wrap;*/
        position: relative;
        max-width: 750px;
        margin: 0;

        @include max(992px){
            max-width: 500px;
        }
        @include max(720px){
            max-width: 400px;
        }
        &--content{
           width: 100% ;
           @include max(650px){
            justify-content: center;
            margin-bottom: 0 !important;
           }
         
           >p{
           line-height: 1.15;

           }
           .number{
            position: relative;
            top: -6px;
            @include max(768px){
                font-size:32px;
            }
            @include max(500px){
               margin-right: 5px;
            }
           }
           &--txt{
             span{
                @include max(992px){
                    font-size: 20px;
                }
                @include max(768px){
                    font-size:18px;
                }
             }
           }
        }
    }
    &__bkground{
    
        @include max(992px){
          //  top: -120px;
        }
        img{
          //  width: 95%;
        }
        
        background-image: url("../images/token.png");
        height: 620px;
        background-size: contain;
        background-repeat: no-repeat;
        width: 400px;
        position: absolute;
        top: -180px;
        right: -35px;
        background-position: center;
        @include max(1100px){
            width: 325px;
            top: 0;
            transform: scale(.9);
        }
        @include max(769px){
            transform: scale(.7);
            height: 450px;
            right: -15%;
        }
        @include max(651px){
            transform: scale(.5);
            top: -80px;
        }
        @include max(500px){
           right: -25%;
        }
        @include max(450px){
           // transform: scale(.35);
            right: -27%;
            top: -104px;
         }
         @include max(400px){
          //  transform: scale(.3);
          
         }
        
        
    }
    
}