.Hamburgmenu {
  order: -2;
  transition: 0.25s;
  span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.5s;

    &:nth-child(2) {
      margin: 4px 0;
    }
  }
  display: none;
  @include max(768px) {
    display: block;
  }
}
@keyframes fadeInMenu {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.01;
  }

  20% {
    opacity: 0.02;
  }

  30% {
    opacity: 0.05;
  }

  40% {
    opacity: 0.06;
  }

  50% {
    opacity: 0.2;
  }

  60% {
    opacity: 0.4;
  }

  70% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.85;
  }

  100% {
    opacity: 1;
  }
}
body {
  &.menuOpen {
    .Hamburgmenu {
      -webkit-transform:rotate(180deg);
      transform: rotate(180deg);
      span {
        &:nth-child(1) {
          -webkit-transform:rotate(45deg) translateX(-2px) translateY(6px);
          transform: rotate(45deg) translateX(-2px) translateY(6px);
          animation-fill-mode: both;
          animation-duration: 0.5s;
          animation-timing-function: ease-in-out;
          animation-name: fadeInMenu;

          width: 25px;
        }
        &:nth-child(2) {
          -webkit-transform:rotate(-45deg) translateX(0) translateY(-7px);
          transform: rotate(-45deg) translateX(0) translateY(-7px);

          animation-fill-mode: both;
          animation-duration: 0.5s;
          animation-timing-function: ease-in-out;
          animation-name: fadeInMenu;
          width: 25px;
        }
      }
    }
    .header-adrop__menumobile {
      /*
       
        */
      //  display: flex;

      ul {
        max-height: 500px;
           overflow: visible;
        transition: max-height 0.5s ease-in;
        margin-top: 25px;
     
        >li{
            margin-bottom: 10px;
            >a{
                
            }
            &:last-child{
                >a{
                    text-align: center;
                }
            }
        }
      }
    }
    .header-adrop {
        background-color: $secondaryViolet;
        
        z-index: 9999;
        position: fixed;
        width: 100%;
    }
  }
}
