.join-get-btn{
    background-color: $yellow;
    color: $drkBlue;
    border-radius: 4px;
    display: inline-block;
    text-transform: capitalize;
   
    &.join{
        padding: 2px 55px;
    }
    &.get{
        padding: 4px 50px;
    }
}